body
{
	background-color:#000000;
	color: #FFFFFF;
}
h1
{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 64px;
}
.div-all
{
	height: 100%;
	width: 96%;
	margin: 1%;
	text-align: center;
	background-color: rgb(100, 100, 100, 0.25);
	border-radius: 25px;
	padding: 1%;
}
.div-main
{
	height: 100%;
	width: 96%;
	margin: 1%;
	background-color: rgb(100, 100, 100, 0.25);
	border-radius: 25px;
	padding: 1%;
}